body {
    background-color: #f4f9f4;
    margin: 0%;
    scroll-behavior: smooth;
    width: 100vw;
    height: fit-content;
}


/* navigation */
nav {
    background-color:#18BBAF;
    width: 100%;
    height: 8vh;
    display: fixed;
    align-items: center;
    justify-content: space-around;
}
#navigation-flex {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
#header-left {
    display: flex;
    width: 50vw;
    margin-left: 21%;
    margin-top: 1%;
    
}
#header {
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-size: 2.5rem;
    font-weight: bolder;
}
#header-right {
    display: flex;
    flex-direction: row;
    width: 50vw;
}
#header-button-1 {
    background-color:#a7d7c5;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:20px;
	padding:5px 10px;
	text-decoration:none;
    text-shadow:0px 0px 6px #2f6627;
    border:none;
    margin-top: 20%;
    margin-left: -30%;
}
#header-button-1:hover {
    background-color:#e1f4f3;
}
#header-button-1:active {
    position:relative;
	top:1px;
}

/* first section  */
#beginning {
    height: 75vh;
    width: 100%;
    background-color: #18BBAF;
}
#first-part {
    display: flex;
    width: 100%;
    z-index: 5;
}
#info-1 {
    width: 100vw;
    height: 55vh;
    margin-left: 45%;
    z-index: 5;
}
#first-pic {
    height: 75%;
    position: absolute;
    width: 50%;
    z-index: 0;
}
#info-header-one {
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    margin-top: 8%;
    font-size: 46px;
    width:85%;
    font-weight: 500;
    margin-left: -8%;
    text-align: center;
}
#info-header-three {
    display: flex;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 65%;
    height: 30%;
    font-weight: lighter;
    font-weight: 500;
    justify-content: center;
    font-size: 1.25rem;
    text-align: center;
    color: #2b2e2b;
}
#info-button {
    position: relative;
    background-color:#a7d7c5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:20px;
	padding:15px 20px;
	text-decoration:none;
    text-shadow:0px 0px 6px #2f6627;
    border:none;
    margin-top: -13%;
    margin-left: 22%;
}
#info-button:hover {
    background-color:#e1f4f3;
}
#info-button:active {
    position:relative;
	top:1px;
}


/* Section two */
#info-2 {
    width: 90%;
    height: 45vh;
    margin-top: 2.25%;
}
#middle-2 {
    margin-left: 0%;
}
#info-2-flex {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 150vh;
    background-color: #a7d7c5;
    justify-content: center;
    box-shadow: 6px 7px  #3b5a57;

}
#text-easy-you {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 8%;
}
#text-easy-doctor {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#doctor-content {
    position: absolute;
    color: #0d0f0f;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 20%;
    margin-right: 10%;
    width: 30%;
    height: 15%;
    font-weight: lighter;
    font-weight: 500;
    text-align: left;
    word-wrap: break-word;
    color: #495850;
}
#patient-content {
    position: absolute;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 30%;
    height: 15%;
    font-weight: lighter;
    font-weight: 500;
    text-align: left;
    word-wrap: break-word;
    color: #495850;
    margin-top: 20%;
    margin-left: 10%;
}

#info-header-3 {
    text-align: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    background-color: #74b49b;
}
#info-header-4 {
    text-align: center;
    display: flex;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    background-color: #74b49b;
}

#patient-image {
    width: 20%;
    height: auto;
    z-index: 1;
    box-shadow: 9px 10px  #3b5a57;
}
#doctor-image {
    width: 20%;
    height: auto;
    box-shadow: 9px 10px  #3b5a57;
}
#doctor, #you{
    color: #0d0f0f;
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Comfortaa', cursive;
    margin-top: 5%;
}
#doctor {
    text-align: left;
    width: 45%;
}
#you {
    text-align: left;
    width: 50%;
}


/* Card with png  */
#middle-2 {
    width: 100vw;
    height: 75%;
    display: flex;
    margin-top: 15%;
    align-items: center;
}
.features {
    height: 85vh;
    width: 100vw;
    background-color: teal;
}
#second-intro-header {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    position: absolute;
    margin-left: 10%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: normal;
}
.first-half {
    margin-top: 2.5%;
    margin-left: 8.5%;
    height: 75vh;
    width: 82%;
    display: flex;
    background-color: rgb(3, 175, 175);
    align-items: center;
    justify-content: center;
}
#communication {
    text-align: center;
    height: 40vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#communication-header {
    font-size: 1.5rem;
    width: 15vw;

}
#contact-less {
    text-align: center;
    height: 40vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact-header {
    font-size: 1.5rem;
    width: 15vw;

}
#medicine {
    text-align: center;
    height: 40vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#medicine-header {
    font-size: 1.5rem;
    width: 15vw;
}

#productivity-image {
    width: 90%;
    height: 90%;
}
#contact-image {
    width: 90%;
    height: 90%;  
}
#medicine-image {
    width: 90%;
    height: 90%;
}

/* footer */
