body, html {
    background-color: #f4f9f4;
    margin: 0%;
    scroll-behavior: smooth;
    width: 100vw;
    height: fit-content;
}
a:link, a:visited {
    text-decoration:none;
	color:inherit;
}

/* navigation */
nav {
    background-color:#18BBAF;
    width: 100%;
    height: 8vh;
    display: fixed;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 20;
}
#navigation-flex {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    position: fixed;
}
#header-left {
    display: flex;
    width: 50vw;
    margin-left: 21%;
    margin-top: .5%;
}
#header {
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-size: 2.5rem;
    font-weight: bolder;
    position: fixed;
}
#header-right {
    display: flex;
    flex-direction: row;
    width: 50vw;
}
#header-button-1 {
    background-color:#a7d7c5;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:20px;
	padding:10px 10px;
	text-decoration:none;
    text-shadow:0px 0px 6px #2f6627;
    border:none;
    margin-top: 5%;
    margin-left: -25%;
}
#header-button-1:hover {
    background-color:#e1f4f3;
}
#header-button-1:active {
    position:relative;
	top:1px;
}

/* first section  */
#beginning {
    height: 75vh;
    width: 100%;
    background-color: #18BBAF;
}
#first-part {
    display: flex;
    width: 100%;
    z-index: 5;
}
#info-1 {
    width: 100vw;
    height: 55vh;
    margin-left: 45%;
    z-index: 5;
}
#first-pic {
    height: 75%;
    position: absolute;
    width: 50%;
    z-index: 0;
}
#info-header-one {
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    margin-top: 15%;
    font-size: 44px;
    width:85%;
    font-weight: 500;
    text-align: left;
}
#info-header-three {
    display: flex;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 65%;
    height: 30%;
    font-weight: lighter;
    font-weight: 500;
    justify-content: center;
    font-size: 1.25rem;
    text-align: left;
    color: #2b2e2b;
    text-decoration: none;
}

#info-button {
    position: relative;
    background-color:#a7d7c5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:20px;
	padding:15px 20px;
	text-decoration:none;
    text-shadow:0px 0px 6px #2f6627;
    border:none;
    margin-top: -18%;
}
#info-button:hover {
    background-color:#e1f4f3;
}
#info-button:active {
    position:relative;
	top:1px;
}


/* Section two */
#info-2 {
    width: 90%;
    height: 65vh;
    margin-top: 2.25%;
    /* background-attachment: fixed; */
}
#middle-2 {
    margin-left: 0%;
}
#info-2-flex {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 150vh;
    background-color: #a7d7c5;
    justify-content: center;
    box-shadow: 6px 7px  #3b5a57;
}
#text-easy-you {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 8%;
}
#text-easy-doctor {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#doctor-content {
    position: absolute;
    color: #0d0f0f;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 20%;
    margin-right: 10%;
    width: 30%;
    height: 15%;
    font-weight: lighter;
    font-weight: 500;
    text-align: left;
    word-wrap: break-word;
    color: #495850;
}
#patient-content {
    position: absolute;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 30%;
    height: 15%;
    font-weight: lighter;
    font-weight: 500;
    text-align: left;
    word-wrap: break-word;
    color: #495850;
    margin-top: 20%;
    margin-left: 10%;
}
#info-header-3 {
    text-align: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    background-color: #74b49b;
}
#info-header-4 {
    text-align: center;
    display: flex;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    background-color: #74b49b;
}
#patient-image {
    width: 20%;
    height: auto;
    z-index: 1;
    box-shadow: 9px 10px  #3b5a57;
    margin-bottom: 5%;
}
#doctor-image {
    margin-top: 10%;
    width: 20%;
    height: auto;
    box-shadow: 9px 10px  #3b5a57;
}
#doctor, #you{
    color: #0d0f0f;
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Comfortaa', cursive;
    margin-top: 5%;
}
#doctor {
    text-align: left;
    width: 45%;
}
#you {
    text-align: left;
    width: 50%;
}
/* Card with png  */
#middle-2 {
    width: 100vw;
    height: 75%;
    display: flex;
    margin-top: 15%;
    align-items: center;
}
.features {
    height: 85vh;
    width: 100vw;
    background-color: teal;
}
#second-intro-header {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 2rem;
    position: absolute;
    margin-left: 10%;
    margin-top: 5%;
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    font-weight: normal;
}
.first-half {
    margin-top: 2.5%;
    margin-left: 8.5%;
    height: 75vh;
    width: 82%;
    display: flex;
    background-color: rgb(3, 175, 175);
    align-items: center;
    justify-content: center;
}
#communication {
    text-align: center;
    height: 40vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
#communication-header {
    font-size: 1.5rem;
    width: 15vw;
}
#contact-less {
    text-align: center;
    height: 40vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
#contact-header {
    font-size: 1.5rem;
    width: 15vw;
}
#medicine {
    text-align: center;
    height: 40vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
#medicine-header {
    font-size: 1.5rem;
    width: 15vw;
}
#productivity-image {
    width: 90%;
    height: 90%;
}
#contact-image {
    width: 90%;
    height: 90%;  
}
#medicine-image {
    width: 90%;
    height: 90%;
}
/* second half  */
#second-half {
    height: 85vh;
    width: 82%;
    background-color: #f4f9f4;
    margin-left: 8.5%;
    margin-top: 3%;
    border-radius: 320px;
    z-index: -1;
}
/* form  */
.form {
    position: absolute;
    margin-top: 1.5%;
    margin-left: 2.5%;
    background-color: #ebecf0;
    width: 45vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
    border-radius: 320px;
    z-index: 1;
}
.get-in-touch {
    margin-top: 12%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#form-rect-background {
    border-radius: 320px;
    height: 80vh;
    width: 100vw;
    margin-top: 55%;
    display: flex;
    flex-direction: row-reverse;
    z-index: 5;
    
}
#form-text {
    position: absolute;
    margin-top: 1.5%;
    margin-left: 5%;
    background-color: #ebecf0;
    width: 75vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
    border-radius: 320px;
    z-index: 0;
    box-shadow: 5px 6px  #3b5a57;
}
.form-text {
    margin-left: 40%;
    margin-top: 8%;
    text-align: left;
    width: 20vw;
}
.form-text-p {
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 50px;
}
.button-submit,
input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
}
label {
    display: block;
    margin-bottom: 24px;
    width: 50%;
}
input {
    box-shadow: inset 2px 2px 5px #babecc,
    inset -5px -5px 10px #fff;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}
input:focus {
    box-shadow: inset 1px 1px 2px #babecc, 
    inset -1px -1px 2px #fff;
}
.button-submit {
    color: #61677c;
    font-weight: bold;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}
.button-submit:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.red:active {
    box-shadow: inset 1px 1px 2px #babecc, 
    inset -1px -1px 2px #fff;
}
.button-submit{
    display: block;
    width: 50%;
    color: #ae1100;
}
/* footer */
#footer{
    height: 50vh;
    width: 100vw;
    display: flex;
    font-weight: lighter;
    font-size: 12px;
    align-self: center;
    border-color: #3b5a57;
    margin-top: 4%;
    border-width: 10ch;
    border-top: #babecc;
    border-top: solid;
}
#footer-form {
    display: flex;
    flex-direction: column;
    margin: 5%;
}
#footer-input {
    margin-top: 2.5%;
    width: 15vw;
}

.button-footer-submit {
    color: #61677c;
    font-weight: bold;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    color: #ae1100;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
    width: 15vw;
    height: 5vh;
    margin-top: 1%;
    justify-content: center;
}
a.button-footer-submit {
    color: inherit;
}
.button-footer-submit:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

#footer-text {
    text-align: left;
    width: 50vw;
    margin: 5%;
}
#footer-header{
    font-size: 2rem;
    font-weight: 600;
}
#footer-paragraph {
    font-size: 2rem;
}
#footer-footer {
    font-size: .5rem;
}

/* fade  */
.fade {
    opacity: 0;
}